@use '../components/buttons' as button;
@use '../utilities/responsive';

.news {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;

        @include responsive.max(740px) {
            h3 {
                font-size: var(--font-size-5);
            }
        }

        @include responsive.max(540px) {
            h3 {
                font-size: var(--font-size-4);
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: var(--inner-grid);
        padding: var(--gap-xl) 0;
        gap: var(--gap-m);

        @include responsive.max(1070px) {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--gap-xl);
        }

        @include responsive.max(740px) {
            gap: var(--gap-l); 
            padding: var(--gap-m) 0 var(--gap-xl); 
        }
    }

    &__card {

        &-date {
            font-size: var(--font-size-s);
            color: var(--color-dark-300);
        }

        &-title {
            margin: 10px 0 0 0;
            a {
                line-height: 0;

                &:hover {
                    color: var(--color-dark-300);
                }
            }
            
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: var(--gap-m);
        }

        &-button {
            @include button.default;
        }

        &-share-link {
            font-size: var(--font-size-4);
            display: flex;
            align-items: center;
            gap: var(--gap-s);
            white-space: nowrap;

            @include responsive.max(1120px) {
                font-size: var(--font-size-3);   
            }

            &:hover {

                .news__card-share-socials {
                    width: 100px;
                }
            }
        }

        &-share-socials {
            width: 0;
            overflow: hidden;
            transition: width 0.3s;
            display: flex;
            gap: 1rem;
            a {
                line-height: 0;
            }
        }

    }

   
    &__card-small {

        margin-bottom: var(--gap-m);

        @include responsive.max(1120px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        @include responsive.max(740px) {
            grid-column: span 2;
            margin-bottom: 0;
        }

        h2 {
            font-size: var(--font-size-5);

            @include responsive.max(740px) {
                font-size: var(--font-size-7);
            }

            @include responsive.max(540px) {
                font-size: var(--font-size-5);   
            }
        }

        .news__card-main {
            margin: var(--gap-s) 0 0;
        }

        .news__card-image {
            margin-bottom: var(--gap-s);
        }
    }

    &__card-big {
        grid-column: span 2;
        grid-row: span 2;
        width: 100%;
        padding-right: 77px;

        @include responsive.max(1120px) {
            padding-right: 40px;
        }

        @include responsive.max(1070px) {
            padding-right: 0;
        }

        h2 {
            font-size: 5.5rem;

            @include responsive.max(1210px) {
                font-size: 5rem; 
            }
    
            @include responsive.max(740px) {
                font-size: var(--font-size-7);
            }

            @include responsive.max(540px) {
                font-size: var(--font-size-5);   
            }
        
        }

        .news__card-main {
            margin: var(--gap-ml) 0;

            @include responsive.max(740px) {
                margin: var(--gap-s) 0;
            }
        }

        .news__card-image {
            margin-bottom: var(--gap-ml);

            @include responsive.max(740px) {
                margin-bottom: var(--gap-s);
            }
        }




    }
}   