@use '../components/buttons' as button;
@use '../utilities/responsive';

.site-menu {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-image: url(../../../assets/images/Menuimage@2x.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 998; 
    opacity: 0; 
    visibility: hidden;
    
    &--open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s;

        .site-menu__list{
            bottom: 0;
            opacity: 1;
            transition: bottom 0.5s, opacity 1s;
        }

        .site-menu__buttons {
            top: 0;
            transition: top 0.5s;
        }

    }

    &__inner {
        grid-column: inner;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: var(--gap-xl);
        position: relative;
        bottom: 100px;
        opacity: 0;

        @include responsive.max(880px) {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: var(--gap-xl);
        }

        a {
            color: var(--color-light);
            font-size: var(--font-size-3);
            &:hover {
                color: var(--color-light-400);
            }
        }

        &--mobil {
            display: none;

            @include responsive.max(880px) {
                display: block;
                margin-top: var(--gap-xl);
            }
        }
  
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
        position: relative;
        top: 100px;
    }

    &__button {
        @include button.default($font-size: var(--font-size-3));

        &--member {
            @include button.default($background: var(--color-accent-blue), $hover-background: var(--color-accent-blue-100),$font-size: var(--font-size-3));
        }
    }
}